<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
        <appSettings>
            <add key="ListenPort" value="8080"/>
            <add key="Strategy" value="RoundRobin"/>
            <add key="healthIntervalsMs" value="2000"/>
            <add key="connectTimeoutMs" value="500"/>
            <add key="Backends" value="127.0.0.1:8001,127.0.0.1:8002"/>
        </appSettings>
</configuration>